<div
  class="table-body"
  [ngStyle]='style'
  (scroll)="onScrollHandler($event)"
  #tableBodyRef
  >
  <div appMatrixCalcHeight>
    <div class='table-body_content-wrapper'>
        <ng-container *ngFor='let dataItem of newData;index as dataIdx'>
          <ng-container *ngFor='let metaItem of meta; index as metaIdx'>
            <app-table-body-cell
              [metaItem]='metaItem'
              [dataItem]='dataItem'
              [metaIdx]='metaIdx'
              [dataIdx]='dataItem.dataIndex || dataIdx'
              [getWidth]='getWidth'
              [getHeight]='getHeight'
              [tableBodyRef]='tableBodyRef'
              [bodyHeight]='bodyHeight'
            >
          </app-table-body-cell>
          </ng-container>
        </ng-container> 
    </div>
  </div>
</div>