<div
  class="table-body"
  [ngStyle]='style'
  (scroll)="onScrollHandler($event)"
  #tableBodyRef
  >
  <div
    class='table-body_content-wrapper'>
    <app-table-body-row
      *ngFor='let dataItem of data; index as i'
      [dataItem]='dataItem'
      [meta]='meta'
      [dataIdx]='i'
      [getWidth]='getWidth'
      [getHeight]='getHeight'
      [tableBodyRef]='tableBodyRef'
    >
    <app-table-body-cell
      *ngFor='let metaItem of meta; index as i'
      [metaItem]='metaItem'
      [dataItem]='dataItem'
      [metaIdx]='i'
      [dataIdx]='dataIdx'
      [getWidth]='getWidth'
      [getHeight]='getHeight'
      [tableBodyRef]='tableBodyRef'
    ></app-table-body-cell>
  </app-table-body-row>
  </div>
</div>