@import '../../index.scss';

.header {
  border-bottom: 1px solid grey;
  // background-color: $header-background;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 50px;
  .right-section {
    display: flex;
  }
  .user {
    font-size: 12px;
    width: 150px;
    align-self: center;
    span {
      cursor: pointer;
      width: 120px;
      padding-left: 5px;
      display: inline-block
    }
  }
  .name {
    padding-left: 10px;
    outline: none;
    display: block;
    width: fit-content;
    padding-top: 8px;
    cursor: pointer;
  }
  .catalog-wrapper {
    grid-area: 2 / 1 / 3 / -1;
    justify-content: space-around;
    position: relative;
    padding-left: 50px;
    background-color: $header-background;
    .catalog {
      position: absolute;
      width: 250px;
      height: 50px;
      z-index: 100;
      background-color: #ffffff;
      & > button {
        width: 100%;
        height: 100%;
      }
    }
  }
}